spring:
  application:
    name: "sistema_reservas"

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  output:
    ansi:
      enabled: always

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      encoding: UTF-8

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: 60
      refresh-expiration: 300

